<div class="signin-content">
    <mat-card>
        <mat-card-header>
            <div style="margin: 20px auto;">
                <span style="color: #666666;font-size: larger;font-weight: bolder;">Information System Login</span>
            </div>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">

                <mat-form-field class="full-width-input">
                    <input matInput placeholder="User Name" formControlName="userName" required>
                    <mat-icon matPrefix>person_pin</mat-icon>
                    <mat-error *ngIf="isFieldInvalid('userName')">
                        Please enter your user name
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input matInput type="password" placeholder="Password" formControlName="password" required>
                    <mat-icon matPrefix>lock</mat-icon>
                    <mat-error *ngIf="isFieldInvalid('password')">
                        Please enter your password
                    </mat-error>
                </mat-form-field>
                <div mat-dialog-actions class="action">
                    <button mat-raised-button color="green" type="submit" style="background-color: rgb(5, 214, 5);">Login</button>
                    <button mat-raised-button color="green" type="submit" style="background-color: rgba(56, 101, 248, 0.63);" routerLink="Signup">Signup</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>