mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
}

.signin-content {
    padding: 60px 1rem;
    
}

.full-width-input {
    width: 100%;
}
.action{
    padding: 0px 25px 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-self: flex-end;
  }
 