.fill-remaining-space {
  flex: 1 1 auto;
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */

  }
  .logout{
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
       float: right;
  }
  .main-body{
   margin:  0 auto;
   padding-top: 20px;
    max-width: 90%;
   
   
  }
  .table {
    table-layout: fixed;
    width:0%;
    height: 80%;
  }
  
  .table-largwidth{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
 